<div class="container mt-4 border" *ngIf="recipe">
    
    <div class="row">
      <div class="col col-sm-6 ">
        <h5 class="text-center">{{recipe.name}}</h5>
      </div>
      <div class="col col-sm-4">
        <h5>
           Date added: {{recipe.dateAdded | date}}
        </h5>
        </div>
        <div class="col col-sm-1">
          <h5>
            <i class="fa fa-clock-o"></i>{{recipe.preparationTime}}
          </h5>
          </div>
          <div class="col col-sm-1">
            <div class="pointer">
            <h5>
               <i class="fa fa-print">Print</i>
            </h5>
          </div>
            </div>
    </div>
    
    <div class="row border">
        <div class="col-sm-6 border">
          <img src="{{recipe.photoUrl || '../../../../../../assets/image.png'}}" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-sm-6 border">
          <h4 class="text-center">Ingredients:</h4>
           <ul>
             <li *ngFor="let ingredient of recipe.ingredients">
               {{ingredient.name}} ({{ingredient.amount}})
             </li>
           </ul>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col">
        <h4 class="text-center">Description:</h4> 
        <div [innerHTML]="recipe.description"></div>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-5 mb-5">

      <ngx-gallery [options]="galleryOptions" [images]="galleryImages" style="display: inline-block; margin-bottom: 20px;"></ngx-gallery>
    </div>
    

      <hr>

      <p class="text-center">Comments:</p>

      <app-comment></app-comment>

    
      
  </div>