<div class="container mb-5" *ngIf="recipe">
  <div class="d-flex flex-row mt-2 font-Oswald">
    <div class="p-2 box mr-2">{{recipe.categoryName}} <i class="fa fa-cutlery" aria-hidden="true"></i></div>
    <div class="p-2 box mr-2">{{recipe.kitchenOriginName}} <i class="fa fa-flag-o" aria-hidden="true"></i></div>
    <div class="p-2 box mr-2">{{recipe.preparationTime}} <i class="fa fa-hourglass-half" aria-hidden="true"></i></div>
    <div class="p-2 box mr-2">{{recipe.numberOfCalories}} calories</div>
    <div class="p-2 box mr-2">{{recipe.ingredients.length}} ingredients </div>
    <div class="p-2 box mr-2">{{recipe.dateAdded | date: 'longDate' }} <i class="fa fa-calendar" aria-hidden="true"></i></div>
  </div>
  <div class="row border-bottom mt-2 ">
    <div class="col-8 d-flex justify-content-center">
      <img src="{{recipe.photoUrl || './assets/image.png'}}" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-4">
      
      <div class="d-flex flex-column" style="border-bottom: black 1px solid;">
          <div class="d-flex justify-content-center">
          <div class="p-2">
            <img src="{{recipe.authorPhotoUrl}}" alt="Author's Photo" width="100px" class="rounded-circle">
          </div>
        </div>

        <div class="d-flex justify-content-center">
          <div class="p-2">
            <p class="text-center font-Dancing-Script" style="font-size: xx-large;"> {{recipe.author}}</p>
          </div>
        </div>
        
     


        <div class="p-2">
          <div class="d-flex justify-content-center">
            <div class="p-2 icon ml-3">
              <i class="fa fa-2x fa-bookmark" (click)="addToFav(recipe.id)"></i>
            </div>
            <div class="p-2 icon ml-3">
              <i class="fa fa-2x fa-print"></i>
            </div>
            <div class="p-2 icon ml-3">
              <i class="fa fa-2x fa-id-badge"  routerLink='/members/{{recipe.authorUserName}}'></i>
            </div>
            <div class="p-2 icon ml-3">
              <i class="fa fa-2x fa-envelope" routerLink='/members/{{recipe.authorUserName}}' [queryParams]='{tab: 1}'></i>
            </div>
          </div>
        </div>
      </div>

    </div>
  
  </div>

  <div class="p-2 text-center font-Oswald">
    <p class="box" style="font-size: 200%;">{{recipe.name | uppercase}}</p>
  </div>

  <div class="row font-Oswald" >
    <div class="col-8">
      <div [innerHTML]="recipe.description" style="font-size: 120%;"></div>
    </div>
    <div class="col-4 d-flex justify-content-center ">
      <div class="p-5">
        <p class="font-Dancing-Script text-center" style="font-size: larger;">Ingredients</p>
        <ul style="padding-left: 0;" class="ingredients-style p-5">
          <li *ngFor="let ingredient of recipe.ingredients; let i = index" class="ingredients-list">
           {{i + 1}}. {{ ingredient.name}} ({{ingredient.amount}}),
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-5 mb-5">
    <ngx-gallery [options]="galleryOptions" [images]="galleryImages" style="display: inline-block; margin-bottom: 20px;"></ngx-gallery>
  </div>
  <hr>
      <p class="text-center">Comments:</p>
      <app-comment></app-comment>
</div>
