<nav class="navbar navbar-expand-md navbar-light bg-light border">
    <div class="container">
        <!-- <a class="navbar-brand" [routerLink]="['/recipes']" ><img src="../../../assets/cookhat.png" alt=""></a> -->
        <a class="navbar-brand" routerLink='/'>Recipely.</a>

        <ul class="navbar-nav mr-auto" *ngIf="accountService.currentUser$ | async">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link " [routerLink]="['/recipes']">Recipes</a>
            </li>
            <li class="nav-item " routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/members']">Users</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/likes']">Likes</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/my-fav-recipes']">Favourite Recipes</a>
            </li>
        </ul>



         <div *ngIf="(accountService.currentUser$ | async) as user" class="dropdown" dropdown> 
        <a class="dropdown-toggle " dropdownToggle>
          <span class="mr-3">
            <!-- <img  class="rounded" src="{{photoUrl || '../../assets/user.png'}}" alt=""> -->
          </span>
          <!-- Welcome, {{authService.decodedToken?.unique_name | titlecase}} -->
          Welcome, {{user.username | titlecase}}
        </a>
      
        <div class="dropdown-menu mt-4" *dropdownMenu >
          <a class="dropdown-item" [routerLink]="['/member/edit']"> <i class="fa fa-user"></i>Edit Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/recipe-add']"> <i class="fa fa-book"></i>Add Recipe</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/messages']"> <i class="fa fa-comment"></i>Messages</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logOut()"><i class="fa fa-sign-out"></i>Logout</a>
        </div>
      </div>

    </div>

</nav>