<nav class="navbar navbar-expand-md navbar-light  bg-light border ">
  <div class="container">
    <!-- <a class="navbar-brand" [routerLink]="['/recipes']" ><img src="../../../assets/cookhat.png" alt=""></a> -->
    <!-- <a class="navbar-brand logo-text" routerLink='/'>Recipely.</a> -->
    <a class="navbar-brand" routerLink='/'><img src="./assets/logo-recipely.png" alt="logo" style="width: 180px;"></a>

    <ul class="navbar-nav ml-auto">
      <li class="icon">
        <!-- <img  src="./assets/hat.png" alt="" [routerLink]="['/recipes']" style="height: 30px; width: 70px;"> -->
        <i class="fa fa-book fa-2x nav-item icon" [routerLink]="['/recipes']" routerLinkActive='page-active'></i> 
      </li>
      <li class="icon">
        <!-- <img  class="icon" src="./assets/users.png" alt="" [routerLink]="['/members']" style="height: 30px; width: 60px;"> -->
        <i class="fa fa-address-book fa-2x nav-item icon" [routerLink]="['/members']" routerLinkActive='page-active'></i> 
        <!-- <a class="nav-link" [routerLink]="['/members']">Users</a> -->
      </li>
      <li class="icon">
        <!-- <img  class="icon" src="./assets/likes.png" alt="" [routerLink]="['/likes']" style="height: 30px; width: 70px;"> -->
        <i class="fa fa-thumbs-up fa-2x nav-item icon" [routerLink]="['/likes']" routerLinkActive='page-active'></i> 
        <!-- <a class="nav-link" [routerLink]="['/likes']">Likes</a> -->
      </li>
      <li class="icon">
        <!-- <img  src="./assets/serce1.png" alt="" [routerLink]="['/my-fav-recipes']" style="height: 30px; width: 55px;"> -->
        <i class="fa fa-heart fa-2x nav-item icon" [routerLink]="['/my-fav-recipes']" routerLinkActive='page-active'></i> 
        <!-- <a class="nav-link" [routerLink]="['/my-fav-recipes']">Favourite Recipes</a> -->
      </li>
      <li *appHasRole='["Admin", "Moderator"]' class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/errors']">Errors</a>
      </li>
      <li *appHasRole='["Admin", "Moderator"]' class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/admin']">Admin</a>
      </li>
    </ul>

    <ul class="navbar-nav">
      <ng-container *ngIf="(accountService.currentUser$ | async) === null">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/startup']">Sign in</a>
        </li>
      </ng-container>

      
      <li class="nav-item" *ngIf="(accountService.currentUser$ | async) as user">
        <div class="dropdown" dropdown>
          <div dropdownToggle class="nav-link navbar-image">
            <img class="rounded-circle user-logo" src="{{user.photoUrl || './assets/user.png'}}" alt="{{user.username}}">
          </div>
          <div class="dropdown-menu mt-4" *dropdownMenu>
              <a class="dropdown-item mb-3" [routerLink]="['/member/edit']"> <i class="fa fa-user-circle fa-lg icon"></i> Edit Profile</a>
              
              <a class="dropdown-item mb-3" [routerLink]="['/recipe-add']"> <i class="fa fa-book fa-lg icon"></i> Add Recipe</a>
              
              <a class="dropdown-item" [routerLink]="['/messages']"> <i class="fa fa-comment fa-lg icon"></i> Messages</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="logOut()"><i class="fa fa-sign-out fa-lg icon"></i> Logout</a>
          </div>
        </div>
      </li>
    </ul>




  </div>

</nav>