
<form class="p-5 col-md-5 col-sm-8 formShadow mt-5" #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
    <p class="h4 mb-4">Sign in</p>
    <input type="text" class="form-control mb-4" name="username" placeholder="Username" [(ngModel)]="model.username">
    <input type="password" class="form-control mb-4" name="password" placeholder="Password"
        [(ngModel)]="model.password">
    <div class="d-flex justify-content-around">
        <div>
            <a href="">Forgot password?</a>
        </div>
    </div>
    <button [disabled]="!loginForm.valid" class="btn btn-outline-dark btn-block my-4" type="submit">Sign in</button>
    <p>Not a member?
        <a (click)="registerToggle()">Register</a>
    </p>
</form>