<ng-container *ngIf="recipe">
  <ng-container *ngIf="recipe.authorUserName === currentUser; else redirect">
    <div class="container mt-4 border">
      <form
        #editForm="ngForm"
        id="editForm"
        (ngSubmit)="updateRecipe(recipe.id)"
      >
        <h5 class="text-center mt-2">Recipe details:</h5>
        <div class="form-group mt-3">
          <label for="recipe.name">Recipe name:</label>
          <input
            class="form-control"
            type="text"
            name="name"
            [(ngModel)]="recipe.name"
          />
        </div>
        <ng-container
          *ngFor="let ingredient of recipe.ingredients; let i = index"
        >
          <div class="row mb-3">
            <div class="col-10 col-md-8">
              <label for="ingredient.name">Ingredient {{ i + 1 }} name: </label>
              <input
                class="form-control"
                type="text"
                name="name{{ ingredient.id }} "
                [(ngModel)]="ingredient.name"
              />
            </div>
            <div class="col-10 col-md-3">
              <label for="ingredient.amount">Amount: </label>
              <input
                class="form-control"
                type="text"
                name="amount{{ ingredient.id }}"
                [(ngModel)]="ingredient.amount"
              />
            </div>

            <div class="col-5 col-md-1 align-self-end">
              <button
                type="button"
                class="btn btn-danger"
                (click)="deleteIngredient(ingredient.id)"
              >
                <i class="fa fa-trash-o"></i>
              </button>
            </div>
          </div>
        </ng-container>
        <div class="form-group">
          <button
            type="button"
            class="btn btn-primary"
            (click)="addIngredient()"
          >
            New Ingredient
          </button>
        </div>
        <div class="form-group">
          <br />
          <p>Add recipes</p>
        </div>
        <h5 class="text-center mt-4">Description</h5>
        <angular-editor
          cols="100%"
          rows="6"
          [placeholder]="'Your description'"
          [(ngModel)]="recipe.description"
          name="description"
        ></angular-editor>
      </form>

      <h3 class="text-center">Photos</h3>
      <div class="row">
        <div class="col-sm-2" *ngFor="let photo of recipe.recipePhotos">
          <img src="{{ photo.url }}" class="img-thumbnail p-1" alt="" />
          <div class="row">
            <div class="col">
              <button
                type="button"
                class="btn btn-sm btn-warning mb-2"
                (click)="setMainPhoto(photo)"
                [disabled]="photo.isMain"
                [ngClass]="photo.isMain ? 'btn-warning active' : 'btn-primary'"
              >
                Main
              </button>
            </div>
            <div class="col">
              <button
                type="button"
                class="btn btn-sm btn-danger mb-2 ml-4"
                (click)="deletePhoto(photo.id)"
              >
                <i class="fa fa-trash-o"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-md-center mt-5">
        <div class="col col-sm-4">
          <div class="mt-4 text-center">
            Multiple
            <input
              type="file"
              ng2FileSelect
              [uploader]="uploader"
              multiple="true"
            /><br />

            Single
            <input type="file" ng2FileSelect [uploader]="uploader" />
          </div>
        </div>
        <div class="col col-sm-6">
          <div
            ng2FileDrop
            [ngClass]="{ 'nv-file-over': hasBaseDropZoneOver }"
            (fileOver)="fileOverBase($event)"
            [uploader]="uploader"
            class="card bg-faded p-3 text-center mt-3 mb-3 my-drop-zone"
          >
            <i class="fa fa-upload fa-3x"></i>
            Drop Photos Here
          </div>
        </div>
      </div>
      <div
        class="col-md-6 mt-5"
        style="margin-bottom: 40px"
        *ngIf="uploader?.queue?.length"
      >
        <h3 class="text-center">Upload queue</h3>
        <p>Queue length: {{ uploader?.queue?.length }}</p>

        <table class="table">
          <thead>
            <tr>
              <th width="50%">Name</th>
              <th>Size</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of uploader.queue">
              <td>
                <strong>{{ item?.file?.name }}</strong>
              </td>
              <td *ngIf="uploader.options.isHTML5" nowrap>
                {{ item?.file?.size / 1024 / 1024 | number: ".2" }} MB
              </td>
              <td *ngIf="uploader.options.isHTML5"></td>
            </tr>
          </tbody>
        </table>

        <div>
          <div>
            Queue progress:
            <div class="progress mb-4">
              <div
                class="progress-bar"
                role="progressbar"
                [ngStyle]="{ width: uploader.progress + '%' }"
              ></div>
            </div>
          </div>
          <button
            type="button"
            class="btn btn-success btn-s"
            (click)="uploader.uploadAll()"
            [disabled]="!uploader.getNotUploadedItems().length"
          >
            <span class="fa fa-upload"></span> Upload
          </button>
          <button
            type="button"
            class="btn btn-warning btn-s"
            (click)="uploader.cancelAll()"
            [disabled]="!uploader.isUploading"
          >
            <span class="fa fa-ban"></span> Cancel
          </button>
          <button
            type="button"
            class="btn btn-danger btn-s"
            (click)="uploader.clearQueue()"
            [disabled]="!uploader.queue.length"
          >
            <span class="fa fa-trash"></span> Remove
          </button>
        </div>
      </div>
      <button
        [disabled]="!editForm.dirty"
        form="editForm"
        class="btn btn-success btn-block mb-5 mt-5"
      >
        Save changes
      </button>
    </div>
  </ng-container>

  <ng-template #redirect> {{ navigate() }} </ng-template>
</ng-container>
